.fixed-bottom {
  bottom: calc($footerHeight + 10px) !important;
}

.fixed-basket {
  height: calc(100vh - $footerHeight) !important;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin: 0px !important;
  background-color: $mainColor;

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}
