@import "./fonts";
@import "./var";
@import "./default";
@import "./js_css";

.content {
  display: flex;
  justify-content: center;
}

.main_container {
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;

  background-color: white;

  @import "./nav";

  &--content {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - ($navHeight + $footerHeight));
    width: 100%;

    position: relative;

    @import "./order_area";

    @import "./basket";
  }

  @import "./footer";

  &--basket {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: auto;
    font-weight: bold;
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: $mainColor;
    color: $secondColor;

    transition: background-color 300ms ease-in-out;

    @media (max-width: $breakpoint-md) {
      display: flex;
      gap: 5px;
    }

    &:hover {
      cursor: pointer;
      transform: translateX(-50%) scale(1.1);
    }
  }
}
